<!-- Side Widget Well -->
                <div class="well">
                    <h4>Recent Comments</h4>
                    <div id="RecentComments">
						 
						<% Comment.order('created_at DESC').limit(5).each do |comment| %>
							 						    
							    
							      <table ><tr>
							      <td style="width:40px;">
							        <% if !comment.user.avatar.blank? %>
							          <img class="img-responsive" width="40" height="40" src=<%= image_path(comment.user.avatar.url(:thumb)) %> alt=<%= comment.user.avatar_file_name %>>
							        <% else %>
							          <img class="img-responsive" width="40" height="40" src=<%= image_path('default-missing.jpg') %> alt="default missing" >
							        <% end %>
							      </div>
							    </td>
							    <td>
							      <div > 
							        <p style="margin-left: 10px;font-size: 14px;"><%= comment.body.slice(0..50) %><strong> By <%= comment.user.name %></strong></p>
							      </div>
							    </td>
							    </tr>
							    </table> 
							    <hr> 
						<% end %>
							  
						
					</div>
                </div>
                <div class="well">
                    <h4>Popular Posts</h4>
                    <div id="PopularPosts">
						 <% Post.order('count DESC').limit(5).each do |post| %>
							 						    
							    <%= link_to post do %>
							      <table ><tr style="width:100%;">
							      <td style="padding-right:10px;"><div style="height:100%;width:100%;">
							        <% if !post.image.blank? %>
							          <img class="img-responsive" src=<%= image_path(post.image.url(:thumb)) %> alt=<%= post.image_file_name %>>
							        <% else %>
							          <img class="img-responsive" width="80" height="80" src=<%= image_path('no-image.jpg') %> alt="no image" >
							        <% end %>
							      </div>
							    </td>
							    <td style="width:60%;margin-left: 10px;padding-left:10px;font-size: 20px;border-left: 1px inset;">
							      <div > 
							        <p><%= post.title %> By <%= post.user.name %></p>
							      </div>
							    </td>
							    </tr>
							    </table> 
							  <% end %>
							  <hr> 
							    
							  
							  
							      
								
						<% end %>
						 
					</div>
                </div>
                <% if user_signed_in? %>
                <div class="well">
                    <div class="card my-4">
                    
					<%= form_for :feedback, url: feedbacks_path do |f| %>
						
							<h5 class="card-header"><%= f.label :body,"Give us Feedback:" %></h5>
							<div class="card-body">
								<div class="form-group">
									<%= f.text_area :body, class: "form-control" %>
							</div>
						
							<%= f.submit "Submit", class: "btn btn-primary" %>
							</div>
					<% end %>
					</div>
                </div>
                <% end %>
                </div>