
<% @posts.each do |post| %>
  <div style="border: 5px outset;padding:10px;margin:10px 0; background-color: #edeff2" class="animated rubberBand">
    
    
      <h2>
          <%= link_to post.title, post %>
      </h2>
      <p class="lead">
          by <%= post.user.name %>
      </p>
      <p><i class="fa fa-clock-o"></i> Posted on <%= post.created_at.strftime("%B, %d %Y") %></p>
      
    <%= link_to post do %>
      <hr>
        <% if !post.image.blank? %>
          <img class="img-responsive" style="width:100%;padding: 0 10%;" src=<%= image_path(post.image.url) %> alt=<%= post.image_file_name %>>
        <% else %>
          <img class="img-responsive" style="padding: 0 10%;" src=<%= image_path('no-image.jpg') %> alt="no image" >
        <% end %>
      <hr>
        <p style="padding: 0 10%;font-size: 15px;font-weight:bold;"><%= sanitize(post.body.gsub(/<[^>]+>/,''), :tags=>[]).truncate(350, :separator => " ").html_safe %></p>
      
  <% end %>
  <hr> 
    <div>
      <%= link_to post, :class => 'btn btn-primary' do %>
        Read More<i class="fa fa-chevron-right"></i>
      <% end %>
      <p style="float:right;font-size: 15px;font-weight: bold;margin-left: 4px;">
        <i class="fa fa-heart"></i> <%= post.likes %>
      </p>
      <p style="float:right;font-size: 15px;font-weight: bold;margin-left: 4px;">
        <i class="fa fa-comment"></i> <%= Comment.where(post_id: post.id ).count %>
      </p>
      <p style="float:right;font-size: 15px;font-weight: bold;"><i class="fa fa-eye"></i> <%= post.count %> Hits</p>
    </div>
  
  </div>
      
	
<% end %>

