<% @posts.each do |post| %>
  <div style="border: 5px outset;padding:10px;margin:10px 0; background-color: #ffcc99">
    
    
      <h2>
          <%= link_to post.title, post %>
      </h2>
      <p class="lead">
          by <%= post.user.name %>
      </p>
      <p><i class="fa fa-clock-o"></i> Posted on <%= post.created_at.strftime("%B, %d %Y") %></p>
      <hr>
    <%= link_to post do %>
      <table ><tr style="width:100%;">
      <td style="padding-right:10px;"><div style="height:100%;width:100%;">
        <% if !post.image.blank? %>
          <img class="img-responsive" src=<%= image_path(post.image.url) %> alt=<%= post.image_file_name %>>
        <% else %>
          <img class="img-responsive" width="200" height="200" src=<%= image_path('no-image.jpg') %> alt="no image" >
        <% end %>
      </div>
    </td>
    <td style="width:60%;margin-left: 10px;padding-left:10px;font-size: 20px;border-left: 1px inset;">
      <div > 
        <p><%= sanitize(post.body.slice(0..150), :tags=>[]) %></p>
      </div>
    </td>
    </tr>
    </table> 
  <% end %>
  <hr> 
    <div>
      <%= link_to post, :class => 'btn btn-primary' do %>
        Read More<i class="fa fa-chevron-right"></i>
      <% end %>
      <p style="float:right;font-size: 20px;font-weight: bold;"><i class="fa fa-eye"></i> <%= post.count %> Hits</p>
    </div>
  
  </div>
      
	
<% end %>