<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Edit your Post
                    <small>Just clean it up</small>
                </h1>
	
	<%= render 'form' %>
	<%= link_to "Cancel", post_path, class: "btn btn-primary" %>

	
</div>

<%= render 'partials/search' %>
<%= render 'partials/categories' %>
<%= render 'partials/widget' %>
</div>