 <% if !user_signed_in? && notice.nil? %>
	 <div id="ac-wrapper">
	  <div id="popup">
	  <center>
	    <span class="close-button" onclick="PopUp()" >&times;</span>
	    <h4>Please Sign Up to post your Post</h4>
	    <hr>
	    <table>
	    <%= form_for(:user, :url => registration_path(:user)) do |f| %>
	    	<tr>
	    	  <td><%= f.label :name %></td>
			  <td><%= f.text_field :name, required: true,autofocus: true,placeholder: "Name",class: "form-control" %></td>
			</tr>
		  	<tr>
	    	  <td><%= f.label :email %></td>
			  <td><%= f.email_field :email, required: true,placeholder: "email@example.com",class: "form-control" %></td>
			</tr>
			<tr>
	    	  <td><%= f.label :avatar,"Profile Pic" %></td>
			  <td><%= f.file_field :avatar, class: "form-control" %></td>
			</tr>
			<tr>
	    	  <td><%= f.label :timeline,"Timeline Pic" %></td>
			  <td><%= f.file_field :timeline,class: "form-control" %></td>
			</tr>
			<tr>
	    	  <td><%= f.label :password %></td>
			  <td><%= f.password_field :password, required: true,  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "6 characters minimum", class: "form-control" %></td>
			</tr>
		    <tr>
	    	  <td><%= f.label :password_confirmation %></td>
			  <td><%= f.password_field :password_confirmation, required: true, placeholder: "Confirmed Password", class: "form-control" %></td>
			</tr>
		    </table>
		   	
		  
			  <%= f.submit 'Sign Up',class: "btn btn-primary", onclick: "PopUp()" %>
			
			  <%= render 'devise/shared/custom_signup' %>
			
		<% end %>
	  </center>
	  </div>
	</div>
	<script type="text/javascript">
	function PopUp(){
	        document.getElementById('ac-wrapper').style.display="none"; 
	}
	$(document).ready(function(){
	   setTimeout(function(){
	      PopUp();
	   },50000000); // 5000 to load it after 5 seconds from page load
	});
	</script>
<% end %>
<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Posts
                    <small>You can learn a lot</small>
                </h1>

                

<%= render 'display' %>
<!-- Pager -->
<ul class="pager">
  <%= will_paginate @posts,:page_links => false,:previous_label=>"&larr; Older", :next_label=>"Newer &rarr;" %>
  
</ul>

</div>

<%= render 'partials/search' %>
<%= render 'partials/categories' %>
<%= render 'partials/widget' %>
</div>