<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                
                <h1 class="page-header">
                    Programming
                    <small>These are some programming posts</small>
                </h1>
                <img class="img-responsive" src=<%= image_path('programming.jpg') %> alt="programming">
                <hr>

<%= render 'display' %>
<!-- Pager -->
<ul class="pager">
  <%= will_paginate @posts,:page_links => false,:previous_label=>"&larr; Older", :next_label=>"Newer &rarr;" %>
  
</ul>

</div>

<%= render 'partials/search' %>
<%= render 'partials/categories' %>
<%= render 'partials/widget' %>
</div>