<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <title>Your Board</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7671991174892133",
      enable_page_level_ads: true
      });
    </script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>    
<script>
  $(document).ready(function() {
  //Preloader
  $(window).on("load", function() {
  preloaderFadeOutTime = 1000;
  function hidePreloader() {
  var preloader = $('.spinner-wrapper');
  preloader.fadeOut(preloaderFadeOutTime);
  }
  hidePreloader();

  });
  });
</script>
  </head>

  <body style="background-color: #f7f8f9">
 

    <%= render 'partials/navbar' %>
  



    <!-- Main Content -->
    <% unless notice.nil? %>
      <div class="alert alert-success">
        <a href="#" class="alert-link"><%= notice %></a>
      </div>
    <% end %>
    
  <div class="spinner-wrapper">
    <div class="spinner"></div>
  </div>
  
  <div class="container">
        
          <%= yield %>
          
  <script>
    CKEDITOR.addCss('');
    
  </script>      
 
    

    
      
      <!-- for displaying errors and messages
      <% flash.each do |name,msg| %>
        <%= content_tag(:div,msg,class: "alert") %>
      <% end %>
      -->
      
   </div> 

    <%= render 'partials/footer' %>




  
  <!-- Bootstrap core JavaScript -->
    
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.bundle.min" %>

    <!-- Custom scripts for this template -->
    
    
    
  </body>
</html>
